body {
background-color: #fafafa;
}

h1.h11 {
  text-align: left;
  font-family: 'Alegreya';
  font-size: 50px;
  color: #000000;
}

h1.h12 {
  top: 150px;
  text-align: center;
  font-family: 'Alegreya';
  font-size: 50px;
  color: #000000;
}

.h1div {
  left: 5.5%;
  position: absolute;
  justify-content: center;
  height: auto;
}



.mhdiv {
  padding: 60px;
  position: relative;
  height: auto;
}


.clear {    
    clear:both;    
}

p.p2 {
  font: 14px;
  font-family: 'Alegreya';
  color: #000000;
  font-weight: bold;
  text-indent: 0px;
  letter-spacing: 3px;
}


p.home {
  position: absolute;
  left: 93px;
  top: 21px;
}

p.models {
  position: absolute;
  top: 21px;
  left: 150px;
}

p.ab {
  position: absolute;
  left: 313px;
  top: 21px;
}

p.pl {
  position: absolute;
  top: 21px;
  left: 225px;
}

a.val{
  font: 14px Arial, sans-serif;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}

a.call{
  color: #000000;
  text-decoration: none;
}

a.aboutpact{
  opacity: 0.6;
}

a.git{
  color: #808080;
  text-decoration: none;

}

a.valactive{
  font: 14px Arial, sans-serif;
  font-weight: bold;
  color: #000000;
  text-decoration: underline;
  display: inline-block;
}

p:hover {
  text-decoration: none;
}

a.val:hover {
  text-decoration: none;
  opacity: 0.6;
}

.div1 {
  width:100%;
  height: auto;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-google {
  background: #1a1a1a;
  color: white;
}

.fa-facebook {
  background: #1a1a1a;
  color: white;
}

.fa-twitter {
  background: #1a1a1a;
  color: white;
}

.fa-youtube {
  background: #1a1a1a;
  color: white;
}

.fa-instagram {
  background: #1a1a1a;
  color: white;
}

.blackbox {
  display: inline-block;
  border-style: solid;
  border-color: #404040;
  background: #000000;
  width: 50px;
  height: 50px;
  position: relative;
}

.whitebox {
  display: inline-block;
  border-style: solid;
  border-color: #404040;
  background: #fafafa;
  width: 50px;
  height: 50px;
  position: relative;
}

.f2f2box {
  display: inline-block;
  width: 50px;
  border-style: solid;
  border-color: #404040;
  background: #f2f2f2;
  height: 50px;
  position: relative;
}


.f2f2boxx {
  display: inline-block;
  width: 50px;
  border-style: solid;
  border-color: #404040;
  background: #616161;
  height: 50px;
  position: relative;
}

a:hover {
  text-decoration: none;
  opacity: 0.6;
}
