body {
background-color: #fafafa;
}
.btn {
  background-color: #000000;
  width:100%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;  
  opacity: 1;
  transition: 0.3s;
}

.btn:hover {opacity: 0.6}
.clear {    
    clear:both;    
}

.btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 87.39%;
  border: none;
  background-color: #000000;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.btn2:hover {opacity: 0.6}
.clear {    
    clear:both;    
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.vam {
  position: absolute;
  top: 580px;
  width:100%;
  left: -300px;
  color: black;
}

.image1 {
  margin-right:0.7%;
  width:4.5%;
  height: auto;
}

.home-icons {
  text-align: center;
  position: relative;

}

.batd {
  position: absolute;
  top: 0px;
  left: 220px;
  color: white;
}

.saap {
  position: absolute;
  top: 2px;
  left: 300px;
  color: white;
}

.top-left {
  position: absolute;
  opacity: 0.9;
  top: 20%;
  left: 4%;
  font: italic small-caps bold 1px Georgia, serif;
  font-size:5.5vw;
  color: #ffffff;
}

.top-left2 {
  position: absolute;
  opacity: 0.9;
  top: 38%;
  left: 3.6%;
  font: italic small-caps bold 1px Georgia, serif;
  font-size:1.3vw;
  letter-spacing: 0.5px;
  color: #ffffff;
}

p.text {
  font: 15px Arial, sans-serif;
  font-size:1vw;
  color: #000000;
  position: relative;
}

.text2 {
  font: 15px Arial, sans-serif;
  font-size:1vw;
  color: #000000;
  top: 50%;
  left: 5.5%;
  position: relative;
}

p.mini-text {
  font: italic small-caps bold 1px Georgia, serif;
  font-size:3.8vw;
  right:4.3%;
  text-align: center;
  color: #000000;
  position: relative;

}

p.va {
  font: 15px Arial, sans-serif;
  color: #000000;
  top: 10px;
  position: absolute;
  width : 300px;
}

p.icon-text {
  color: #000000;
  position: relative; 
  top: 10%;
  left: 9.2%;
}

a {
  color: 616161;
  text-decoration: none;
}


a.home-icontext {
  position:relative;
  font: 1px Arial, sans-serif;
  font-size:0.97vw;
  margin: 4px 2px;
  margin-right:9%;
  text-decoration: none;
}

a.ha:hover {
  text-decoration: underline;
}

a.val:hover {
  text-decoration: underline;
}

a.val{
  background-color: #000000;
  width:100%;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.responsive2 {
  position: relative;
  margin-left: 8%;
  padding: 10px;
  width: 89.5%;
  height: auto;
}
div.cargallery {
  border: 0px solid #ccc;
}

div.cargallery:hover {
  border: 1px solid #777;
}

div.cargallery img {
  width: 100%;
  height: auto;
}

.carresponsive {
  float: left;
  margin-right:2.9%;
  margin-bottom:1%;
  width: 28.5%;
  height: auto;
}

div.desc {
  background-color : #fafafa;
  padding: 15px;
  text-align: left;
  color: #1a1a1a;
}

div.gallery {

  width: 25%;
  height: auto;
  border: 0px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.gallery2 img {
  width: 91.3%;
  height: auto;
}

@media only screen and (max-width: 1010px) {
  .responsive2 {
  width: 89.5%;
    margin: 6px 78;
  }
  .mini-text {
	right: 5%;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 85.20%;
  }
  
  .gallery2{
  width: 100%;
  }
}

@media only screen and (max-width: 920px) {
  .responsive2 {
  width: 89.5%;
    margin: 6px 64;
  }
  .mini-text {
	right: 5%;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 84%;
  }
  
  .gallery2{
  width: 100%;
  }
}

@media only screen and (max-width: 780px) {
  .responsive2 {
  width: 89.5%;
    margin: 6px 55;
  }
  .mini-text {
	right: 5%;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 83%;
  }
  
  .gallery2{
  width: 100%;
  }
}


@media only screen and (max-width: 690px) {
  .responsive2 {
  width: 89.5%;
    margin: 6px 42;
  }
  .mini-text {
	right: 5%;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 82%;
  }
  
  .gallery2{
  width: 100%;
  }
}

@media only screen and (max-width: 565px) {
  .responsive2 {
  width: 89.5%;
    margin: 6px 42;
  }
  .mini-text {
	right: 1%;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 80%;
  }
  
  .gallery2{
  width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .responsive2 {
  width: 89.5%;
    margin: 6px 32;
  }
  .mini-text {
	right: 1%;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 78%;
  }
  
  .gallery2{
  width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .responsive2 {
    width: 89.5%;
    margin: 6px 20;
  }
  .mini-text {
	right: 5%;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 73%;
  }
  
  .gallery2{
  width: 100%;
  }
}


@media only screen and (max-width: 1010px) {
  .carresponsive {
  float: left;
  padding: 0px;
  width: 91%;
  margin: 6px 0;
  height: auto;
  }
  
  .cargallery{
  width: 100%;
  }
}

@media only screen and (max-width: 920px) {
  .carresponsive {
  float: left;
  padding: 0px;
  width: 91%;
  margin: 6px 0;
  height: auto;
  }
  
  .cargallery{
  width: 100%;
  }
}