body {
background-color: #fafafa;
}

a:hover {
  text-decoration: none;
  opacity: 0.6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #e6e6e6;
}

.btn {
  background-color: #000000;
  width:100%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;  
  opacity: 1;
  transition: 0.3s;
}

.btn:hover {
	opacity: 0.6}
	
.clear {    
    clear:both;    
}

.btn2 {
  display: block;
  font: 16px Arial, sans-serif;
  width: 87.39%;
  border: none;
  background-color: #000000;
  color: #f2f2f2;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
}

.btn2:hover {opacity: 0.5}
.clear {    
    clear:both;    
}

.container {
  position: relative;
  text-align: center;
  color: white;
}


.image1 {
  margin-right:0.7%;
  width:4%;
  height: auto;
}

.home-icons {
  text-align: center;
  position: relative;

}

.top-left {
  position: absolute;
  opacity: 0.9;
  top: 20%;
  left: 4%;
  font: italic small-caps bold 1px Georgia, serif;
  font-size:5.5vw;
  color: #ffffff;
}

.top-left2 {
  position: absolute;
  opacity: 0.9;
  top: 38%;
  left: 3.6%;
  font: italic small-caps bold 1px Georgia, serif;
  font-size:1.3vw;
  letter-spacing: 0.5px;
  color: #ffffff;
}

p.text {
  font: 15px Arial, sans-serif;
  color: #000000;
  width:90%;
  position: relative;
}

.text2 {
  font: 15px Arial, sans-serif;
  font-size:1vw;
  color: #000000;
  top: 50%;
  left: 5.5%;
  position: relative;
}

p.mini-text {
  font: italic small-caps bold 1px Georgia, serif;
  font-size:3.8vw;
  right:2.3%;
  text-align: center;
  color: #000000;
  position: relative;

}


p.icon-text {
  color: #000000;
  position: relative; 
  top: 10%;
  left: 9.2%;
}

a {
  color: 616161;
  text-decoration: none;
}


a.home-icontext {
  position:relative;
  font: 15px Arial, sans-serif;
  margin: 4px 2px;
  margin-right:9%;
  text-decoration: none;
}

a.ha:hover {
  text-decoration: underline;
}

a.val:hover {
  text-decoration: underline;
}

a.val{
  background-color: #000000;
  width:100%;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.yeah{ 
  padding: 15px 160px;
  position:relative;
  text-align: center;

}

.responsive2 {
  position: relative;
  margin-left: 8%;
  padding: 10px;
  width: 89.5%;
  height: auto;
}

.responsive {
  background-color: #f2f2f2;
  position: relative;
  margin-left: 8.6%;
  padding: 10px;
  width: 80.4%;
  height: auto;
}

.seperator {
  background-color: #fafafa;
  position: relative;
  margin-left: 8.6%;
  padding: 10px;
  width: 80.4%;
}

div.cargallery {
  border: 0px solid #ccc;
}

div.cargallery:hover {
  border: 1px solid #777;
}

div.cargallery img {
  width: 100%;
  height: auto;
}

.carresponsive {
  float: left;
  margin-right:2.9%;
  margin-bottom:1%;
  width: 28.5%;
  height: auto;
}

div.desc {
  background-color : #f2f2f2;
  padding: 15px;
  text-align: left;
  font: 15px Arial, sans-serif;
  color: #1a1a1a;
}

div.gallery {

  width: 25%;
  height: auto;
  border: 0px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.gallery2 img {
  width: 91.3%;
  height: auto;
}

@media only screen and (max-width: 1010px) {
  .responsive2 .responsive{
  width: 89.5%;
    margin: 6px 78;
  }
  .mini-text {
	right: 5%;
  }
  
  a.yeah{ 
  padding: 13px 75px;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 85.20%;
  }
  
  .gallery2{
  width: 100%;
  }
}

@media only screen and (max-width: 920px) {
  .responsive2 .responsive{
  width: 89.5%;
    margin: 6px 64;
  }
  .mini-text {
	right: 5%;
  }

  a.yeah{ 
  padding: 13px 70px;
  }
  
  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 84%;
  }
  
  .gallery2{
  width: 100%;
  }
}

@media only screen and (max-width: 875px) {

  a.yeah{ 
  padding: 13px 65px;
  }
}

@media only screen and (max-width: 837px) {

  a.yeah{ 
  padding: 13px 60px;
  }
}

@media only screen and (max-width: 800px) {

  a.yeah{ 
  padding: 13px 55px;
  }
}

@media only screen and (max-width: 780px) {
  .responsive2 .responsive{
  width: 89.5%;
    margin: 6px 55;
  }
  .mini-text {
	right: 5%;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 83%;
  }
  
  .gallery2{
  width: 100%;
  }
}

@media only screen and (max-width: 760px) {

  a.yeah{ 
  padding: 13px 50px;
  }
}

@media only screen and (max-width: 725px) {

  a.yeah{ 
  padding: 13px 45px;
  }
}

@media only screen and (max-width: 690px) {
  .responsive2 .responsive{
  width: 89.5%;
    margin: 6px 42;
  }
  .mini-text {
	right: 5%;
  }
  
    a.yeah{ 
  padding: 13px 40px;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 82%;
  }
  
  .gallery2{
  width: 100%;
  }
}

@media only screen and (max-width: 650px) {

  a.yeah{ 
  padding: 13px 35px;
  }
}

@media only screen and (max-width: 612px) {

  a.yeah{ 
  padding: 13px 30px;
  }
}

@media only screen and (max-width: 575px) {

  a.yeah{ 
  padding: 13px 25px;
  }
}


@media only screen and (max-width: 565px) {
  .responsive2 .responsive{
  width: 89.5%;
    margin: 6px 42;
  }
  .mini-text {
	right: 1%;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 80%;
  }
  
  .gallery2{
  width: 100%;
  }
}


@media only screen and (max-width: 538px) {

  a.yeah{ 
  padding: 13px 20px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive2 .responsive{
  width: 89.5%;
    margin: 6px 32;
  }
  .mini-text {
	right: 1%;
  }
  
    a.yeah{ 
  padding: 13px 15px;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 78%;
  }
  
  .gallery2{
  width: 100%;
  }
}

@media only screen and (max-width: 463px) {

  a.yeah{ 
  padding: 13px 14px;
  }
}

@media only screen and (max-width: 456px) {

  a.yeah{ 
  padding: 13px 10px;
  }
}

@media only screen and (max-width: 426px) {

  a.yeah{ 
  padding: 13px 9px;
  }
}


@media only screen and (max-width: 426px) {

  a.yeah{ 
  padding: 13px 9px;
  font-size: 15px;
  }
}


@media only screen and (max-width: 400px) {
  .responsive2 .responsive{
    width: 89.5%;
    margin: 6px 20;
  }
  .mini-text {
	right: 5%;
  }

  .btn2 {
  display: block;
  font: 15px Arial, sans-serif;
  width: 73%;
  }
  
  a.yeah{ 
  font-size: 12px;
  }
  
  .gallery2{
  width: 100%;
  }
}

@media only screen and (max-width: 388px) {

  a.yeah{ 
  padding: 13px 11px;
  font-size: 12px;
  }
}

@media only screen and (max-width: 348px) {

  a.yeah{ 
  padding: 13px 8px;
  font-size: 12px;
  }
}

@media only screen and (max-width: 327px) {

  a.yeah{ 
  padding: 13px 7px;
  font-size: 12px;
  }
}

@media only screen and (max-width: 319px) {

  a.yeah{ 
  padding: 13px 40px;
  font-size: 12px;
  }
}


@media only screen and (max-width: 1010px) {
  .carresponsive {
  float: left;
  padding: 0px;
  width: 91%;
  margin: 6px 0;
  height: auto;
  }
  
  .cargallery{
  width: 100%;
  }
}

@media only screen and (max-width: 920px) {
  .carresponsive {
  float: left;
  padding: 0px;
  width: 91%;
  margin: 6px 0;
  height: auto;
  }
  
  .cargallery{
  width: 100%;
  }
}